body {
    background-color: #DFC18A;
}

.intro{
    margin: 0%;
}

.name{
    display: flex;
    justify-content: center;
    font-size: 3.5rem;
    font-family: "Montserrat", sans-serif;
}

img{
    background-color: #DFC18A;
    height: 125px;
}

.skull{
    display: flex;
    justify-content: center;
}