html{
    background-color: black;
  }
.img{
    border: 5px solid white;
    height: 250px;
    width: 100%;
  }
.text{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    text-transform: uppercase;
  }
.caption{
    color: white;
    text-align: center;
  }
#whole{
    width: 50%;
    margin-left: 25%;
    margin-top: 50px;
  }